*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
html,
body,
#root,
.app {
  height: auto;
  min-height: 100vh;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
.dark {
  background-color: #000718;
  color: #fff;
}
.container {
  max-width: 117rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}
.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.header__navbar {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 600;
  font-size: 2.4rem;
}
.header__list {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.header__list li {
  margin-left: 1.6rem;
}
.hero {
  background-image: linear-gradient(rgba(245, 177, 83, 0.75), #fff), url(../images/background-image.jpg);
  background-position: bottom center;
  background-size: auto;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .hero {
    background-size: cover;
  }
}
.hero .search {
  position: relative;
}
.hero .search__input {
  border: none;
  padding: 0.8rem 1.6rem;
  line-height: 3.6rem;
  border-radius: 10rem;
  font-size: inherit;
  width: 400px;
  text-transform: capitalize;
  transition: all 0.3s;
}
@media (max-width: 480px) {
  .hero .search__input {
    width: 240px;
  }
}
.hero .search__input:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.6s;
}
.hero .search__btn {
  position: absolute;
  right: 1.6rem;
  bottom: 0;
  top: 0;
}
.weather-forecast__list {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0 3.2rem;
}
@media (max-width: 480px) {
  .weather-forecast__list {
    display: flex;
    flex-flow: column;
  }
}
.weather-forecast__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 1.6rem;
  flex-basis: 15%;
}
@media (max-width: 480px) {
  .weather-forecast__item {
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 1.6rem;
    display: flex;
    margin-bottom: 1.6rem;
    flex-basis: 30px;
    align-items: center;
  }
  .weather-forecast__item :nth-child(n+3) {
    flex-grow: 1;
  }
  .weather-forecast__item > p {
    flex-basis: 50px;
  }
}
.weather-forecast__day {
  font-weight: 600;
  text-transform: uppercase;
}
.weather-forecast__current {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.weather-current {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-current__title {
  font-size: 6.4rem;
}
.weather-current__today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}
.icon-accu1:before {
  content: "\f00d";
}
.icon-accu2:before {
  content: "\f002";
}
.icon-accu3:before {
  content: "\f002";
}
.icon-accu4:before {
  content: "\f07d";
}
.icon-accu5:before {
  content: "\f003";
}
.icon-accu6:before {
  content: "\f002";
}
.icon-accu7:before {
  content: "\f013";
}
.icon-accu8:before {
  content: "\f00c";
}
.icon-accu9:before {
  content: "\f0d7";
}
.icon-accu10:before {
  content: "\f0d8";
}
.icon-accu11:before {
  content: "\f014";
}
.icon-accu12:before {
  content: "\f01a";
}
.icon-accu13:before {
  content: "\f009";
}
.icon-accu14:before {
  content: "\f009";
}
.icon-accu15:before {
  content: "\f01e";
}
.icon-accu16:before {
  content: "\f010";
}
.icon-accu17:before {
  content: "\f010";
}
.icon-accu18:before {
  content: "\f019";
}
.icon-accu19:before {
  content: "\f01b";
}
.icon-accu20:before {
  content: "\f00a";
}
.icon-accu21:before {
  content: "\f00a";
}
.icon-accu22:before {
  content: "\f01b";
}
.icon-accu23:before {
  content: "\f00a";
}
.icon-accu24:before {
  content: "\f076";
}
.icon-accu25:before {
  content: "\f0b5";
}
.icon-accu26:before {
  content: "\f015";
}
.icon-accu27:before {
  content: "\f0e9";
}
.icon-accu28:before {
  content: "\f0ea";
}
.icon-accu29:before {
  content: "\f017";
}
.icon-accu30:before {
  content: "\f055";
}
.icon-accu31:before {
  content: "\f053";
}
.icon-accu32:before {
  content: "\f012";
}
.icon-accu33:before {
  content: "\f02e";
}
.icon-accu34:before {
  content: "\f086";
}
.icon-accu35:before {
  content: "\f086";
}
.icon-accu36:before {
  content: "\f086";
}
.icon-accu37:before {
  content: "\f04a";
}
.icon-accu38:before {
  content: "\f086";
}
.icon-accu39:before {
  content: "\f029";
}
.icon-accu40:before {
  content: "\f029";
}
.icon-accu41:before {
  content: "\f02d";
}
.icon-accu42:before {
  content: "\f02d";
}
.icon-accu43:before {
  content: "\f02a";
}
.icon-accu44:before {
  content: "\f02a";
}
