// DARK UI COLOR PALETTE

// LIGHT UI COLOR PALETTE
@headerHeight: 6rem; // CSS RESET
@whiteColor: #fff;
@orangeColor: ;

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

figure {
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
}

cite {
    font-style: normal;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent !important;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    // margin-top: @headerHeight + 2rem;
}


.container {
    max-width: 117rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

// HEADER

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    &__navbar {
        height: @headerHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-weight: 600;
        font-size: 2.4rem;
    }
}

.hero {
    background-image: linear-gradient(rgba(245, 177, 83, 0.75), #fff), url(../images/background-image.jpg);
    background-position: center right;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
        position: relative;

        &__input {
            border: none;
            padding: 0.8rem 1.6rem;
            line-height: 2.4rem;
            border-radius: 10rem;
            font-size: inherit;
            width: 400px;
        }

        &__btn {
            position: absolute;
            right: 1.6rem;
            bottom: 0;
            top: 0;
        }
    }
}


.weather-forecast {
    position: relative;
    top: -16px;
    background-color: #fff;

    &__list {
        display: flex;
        justify-content: space-between;
    }
}