// DARK UI COLOR PALETTE

// LIGHT UI COLOR PALETTE
@headerHeight: 6rem;
@whiteColor: #fff;

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  // margin-top: @headerHeight + 2rem;
}

.container {
  max-width: 117rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

// HEADER

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &__navbar {
    height: @headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 600;
    font-size: 2.4rem;
  }
}

.hero {
  background-image: linear-gradient(rgba(245, 177, 83, 0.75), #fff),
    url(../images/background-image.jpg);
  background-position: bottom center;
  background-size: auto;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;


  @media (max-width: 480px) {
    background-size: cover;

  }

  .search {
    position: relative;

    &__input {
      border: none;
      padding: 0.8rem 1.6rem;
      line-height: 3.6rem;
      border-radius: 10rem;
      font-size: inherit;
      width: 400px;

      @media (max-width: 480px) {
        width: 240px;
      }
    }

    &__btn {
      position: absolute;
      right: 1.6rem;
      bottom: 0;
      top: 0;
    }
  }
}

.weather-forecast {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 1.6rem;
    flex-basis: 15%;
  }

  &__day {
    font-weight: 600;
    text-transform: uppercase;
  }
}


.weather-current {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 3.6rem;
    border-left: 3px solid;
    line-height: 3.6rem;
    padding-left: 1rem;

  }
}


@media (max-width: 480px) {
  .weather-forecast__item {
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 1.6rem;
    display: flex;
    margin-bottom: 1.6rem;
    flex-basis: 30px;
    align-items: center;
  }


  .weather-forecast__list {
    display: flex;
    flex-flow: column;
  }

  .weather-forecast__item>p {
    flex: 1;
  }
}